header{
    max-width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    nav{
        padding-left: 11%;
        ul{
            list-style: none;
            display: flex;
            gap: 20px;
            a{
                text-decoration: none;
                color: #aaadb9;
            }
        }
    }
    @media (max-width: 1200px){
        display: flex;
        justify-content: center;
        nav{
            padding-left: 0;
            ul{
                padding: 0;
            }
        }
    }

}